{% extends "base.html" %}

{% block app_content %}

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            Available Routines
        </div>
    </div>    
    <br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
                <table class = "table">
                    <thead>
                        <tr>
                            <th scope="col">Routine</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    
                    {% for each_item in routines %}
                    <tr>
                        <td class="table-light">
                            <a href=" {{ url_for('routine', unique_id=each_item['id']) }}">{{ each_item['name'] }}</a>    
                        </td>
                        <td>
                            {{ each_item['description'] }}
                        </td>
                        <td>    
                            <form method="post">
                                <input name="id_tbd" type="hidden" value= "{{ each_item['id'] }}" >
                                <input class="btn btn-secondary" id="{{ each_item['id'] }}" name="delete" type="submit" value= "Delete" >
                            </form>                        
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}