{% extends "base.html" %}

{% block app_content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="background-color:yellowgreen;">
            <b>  </b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"  style="background-color:pink;">
            <b>{{ info }}</b> <br/>
        </div>
    </div>
</div>

<div class = "container">
    <form action="" method="post" >
    {% for input in form %}
        <p>
        {% if input.type == "StringField" or input.type == "PasswordField" %}
            {{ input.label }}<br>
            {{ input(size=32) }}
        {% else %}
            {{ input }}
        {% endif %}
        {% for error in input.errors %}
            <span style="color: red;">{{ error }}
        {% endfor %}</span>
        </p>
    {% endfor %}
    </form>
</div>

{% endblock %}